<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <title>about</title>
</head>
<body>
    
    <div class="main">
        <h1>ยินดีต้อนรับ</h1>
        <p>ยินดีต้อนรับสู่เว็บเพจที่นี่ที่เราจะเสนอแนะ
            สถานที่ท่องเที่ยวที่น่าสนใจให้กับคุณไม่ว่า
            คุณจะเป็นนักเดินทางที่ชอบการผจญภัย
            หรือชอบการสัมผัสวัฒนธรรมและประวัติ
            ศาสตร์หรือแม้กระทั่งคนที่ต้องการผ่อน
            คลายในสถานที่ที่งดงามที่นี่เรามีสถานที่
            ท่องเที่ยวที่เหมาะสมกับทุกความต้องการ
            ของคุณ
            </p>
    </div>
    <div class="img">
        <img src="/img/4924124.jpg" alt="">
    </div>

</body>
</html>