body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #384450;
}

body::after {
    
}
.container .Quiz {
    font-size: 32px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    color: #ffffff;
}

.box-form input[type="text"] {
    width: 50%;
    height: 50px;
    border-radius: 40px;
    padding: 20px;
    font-size: 18px;
    box-sizing: border-box; /* จัดการให้ padding และ border ไม่นับเข้าไปในขนาดของกล่อง */
}

.box-form input[type="text"]:focus {
    outline: none; /* ลบเส้นขอบสีน้ำเงินเมื่อกล่องถูก focus */
    
}


