* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    /* เพิ่ม padding เพื่อไม่ให้โลโก้แน่นหน้าภาพ */
}

.logo img {
    width: 50px;
    border-radius: 100%;
    margin-left: 20px;
}

/* Links */
.links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    padding-right: 50px;
    /* เพิ่ม padding เพื่อไม่ให้ลิงก์แน่นหน้าภาพ */
}

/* Links ใน Navbar */
.links a {
    margin-left: 10px;
    /* เพิ่มระยะห่างระหว่างลิงก์ */
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;

    font-size: 20px;
    font-weight: 400;
    /* border: solid; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
    background: url(/Img_and_video_Content/Home_Vedio/4924124.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    backdrop-filter: blur(2px);
}

.bg-main {
    width: 420px;   
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px 40px;
}

.bg-main h1 {
    text-align: center;

}

.bg-main .input-name {
    position: relative;
    background: transparent;
    width: 100%;
    margin: 30px 0;
    height: 50px;
}

.bg-main .input-email {
    position: relative;
    background: transparent;
    width: 100%;
    margin: 30px 0;
    height: 50px;
}

.bg-main .input-pasword {
    position: relative;
    background: transparent;
    width: 100%;
    margin: 30px 0;
    height: 50px;
}

.input-name input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;

}

.input-email input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;

}

.input-pasword input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;

}

.input-name input::placeholder {
    color: #ffffff;
}

.input-email input::placeholder {
    color: #ffffff;
}

.input-pasword input::placeholder {
    color: #ffffff;
}

.input-name i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-email i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-pasword i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.bg-main .btn {
    width: 100%;
    height: 45px;
    background: #00507C;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
}

.swop-signin-signup {
    font-size: 8px;
    text-align: center;
    margin-top: 20px;

}

.swop-signin-signup a {

    text-decoration: none;
    color: #245798;

}